*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}


html,body{
	height: 100%;
}


/**Divs gerais!*/
.container{
	width: 100%;
	max-width: 1024px;
	margin:0 auto;
}

.clear{
	clear: both;
}
/******/

header{
	background-color: #f0ebeb;
	padding:10px 2% 40px 2%;
}

.logo-1{
	float: left;
	width: 150px;
	height: 60px;
	background-image: url('../imagens/logo1.png');
	background-size: 50% auto;
	background-repeat: no-repeat;
	background-position: left;
	/*background-color: purple;*/
}


section.cover-form{
	width: 100%;	
}

.bg{
	position: relative;
	height: 550px;
	background-position: center;
	background-size: cover;
	background-image: url(https://pipagolf2.com.br/assets/images/gallery/imagem-7.jpeg);
}

.form-container{
	position: absolute;
	right: 30px;
	top: -2.5%;
	width: 400px;
	height: 105%;
	background-color: white;
	box-shadow: 1px 1px 2px 1px rgb(180,180,180);
}

.form-container h2{
	font-weight: normal;
	padding:25px 15px;
	color: black;
	font-size: 18px;
	background-color: #f0ebeb;
}

.form-container form{
	margin-top:20px;
	padding:15px;
}

.form-container form p{
	font-size: 14px;
	color: #525252;
}

.form-wraper:not(:first-child){
	margin-top:40px;
}

.form-wraper:last-child{
	margin-top:20px;
}

.form-container form input[type=text]{
	width: 100%;
	border:1px solid #ccc;
	height: 45px;
	line-height: 45px;
	padding-left: 10px;
}

.form-container form input[type=submit]{
	background-color: #033C50;
	text-transform: uppercase;
	color: white;
	width: 100%;
	font-size: 25px;
	height: 50px;
	cursor: pointer;
	border:0;
}


section.chamada{
	z-index: 1;
	text-align: center;
	width: 100%;
}
section.chamada div.container{
	background-color:#e88e33;
	padding: 50px 0 30px 0;
}



section.chamada h2{
	width: 98%;
	max-width: 700px;
 	display: inline-block;
 	color: white;
 	font-size: 22px;
 	font-weight:normal;
}
section.chamada p{
	width: 98%;
	max-width: 700px;
	display: inline-block;
	margin-top: -20px;
	font-weight: normal;
	color: #ffd7ab;
	font-size: 18px;

}
.flex-mosaico{
	display: flex;	
}
.item-1-mosaico{
	background-position: center;
	background-size: cover;
	width: 80%;
}
.item-2-mosaico{
	width: 40%;
	padding: 120px 40px;
	background-color: #f0ebeb;
}

.item-2-mosaico p{
	color:#615e59;
	font-size: 19px
}

}


@media screen and (max-width: 768px){
	
	.flex-mosaico{
		display: block;
	}
	.item-1-mosaico{
		padding-top: 80%;
		width: 100%;
	}
	.item-2-mosaico{
		width: 100%;
		text-align: justify;
	}
}
footer{
	text-align: center;
	padding: 20px 0;	
}
footer.content{
height: 550px;
background-color: gray;

}
footer h1{
	font-size: 14px;
}

footer p{
	margin-top: 8px;
}
footer img{
	width: 80px;
}

@media screen and (max-width: 960px){
	.bg{
		height: auto;
		padding: 40px 0;
		text-align: center;
	}
	.form-container{
		height: auto;
		width: 96%;
		max-width: 400px;
		position: static;
		display: inline-block;
	}

}


@media screen and (max-width: 510px){

	header{
		text-align: center;
	}

	[class^="logo"]{
		margin-top:10px;
		margin-left: 65px;
		display: inline-block;
		float: none;
	}

}